<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCMn3n1JrooEexFo32D55cdPpg47sjPyL4</string>
	<key>GCM_SENDER_ID</key>
	<string>203687118973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.banshakuSetsuyakuApp</string>
	<key>PROJECT_ID</key>
	<string>banshaku-setsuyaku-app</string>
	<key>STORAGE_BUCKET</key>
	<string>banshaku-setsuyaku-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:203687118973:ios:9b8bebbba096d78cb40914</string>
</dict>
</plist>